<div *ngIf="itemIsFound">

	<p>
		Item information:
	</p>

	<p>ID<b>:</b><i>{{item.id}}</i></p>
	<p>Name<b>:</b><i>{{item.name}}</i></p>
	<p>Description<b>:</b><i>{{item.description}}</i></p>
	<p>User<b>:</b><i>{{item.user}}</i></p>
	<p>Location<b>:</b><i>{{item.location}}</i></p>
	<p>Inventory #<b>:</b><i>{{item.inventoryNumber}}</i></p>
	<p>Created At:<b>:</b><i>{{item.createdAt}}</i></p>
	<p>Modified At:<b>:</b><i>{{item.modifiedAt}}</i></p>
	<p>Active?<b>:</b><i>{{item.active}}</i></p>

</div>

<div *ngIf="!itemIsFound">
	<p>
		Item not found!
	</p>
</div>