/*----------------------------------------------------
colours
------------------------------------------------------*/

:root {
    --red: #c11b17;
    --white: #fcf7f8;
    --blue: #054b70;
}


/*----------------------------------------------------
formatting
------------------------------------------------------*/

body {
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--blue);
}

p {
    font-size: 18px;
}