<div>
	<ul>
		<b>Warehouses</b>
		<hr>
		<li *ngFor="let warehouse of warehouses">
			<b>Warehouse information</b>: {{ warehouse.info }}<br>
			<b>Warehouse phone</b>: {{ warehouse.phone }}<br>
			<b>Warehouse open</b>: {{ warehouse.openDays }}<br>
			<b>Warehouse schedule</b>: {{ warehouse.schedule }}<br>
			<b>Warehouse address</b>:<br>
			{{ warehouse.address.line1 }}<br>
			<ng-template>
				{{ warehouse.address.line2 }}<br>
			</ng-template>
			{{ warehouse.address.town }}<br>
			{{ warehouse.address.county }}<br>
			{{ warehouse.address.postcode }}<br>

			{{ warehouse.address.toString() }}<br>
			<hr>
		</li>
	</ul>
</div>