<div>

	<div class="spinner-container" *ngIf="isLoading">
		<mat-spinner></mat-spinner>
	</div>

	<table mat-table [dataSource]="inventoryItems" matSort>

		<!-- Selection checkbox -->
		<ng-container matColumnDef="select">
			<th mat-header-cell *matHeaderCellDef>
				<mat-checkbox (change)="onMasterSelectionToggleChange($event)" [checked]="isMasterSelection()"
					[indeterminate]="isIndeterminateSelection()">
				</mat-checkbox>
			</th>
			<td mat-cell *matCellDef="let row">
				<mat-checkbox (change)="selectRow(row)" [checked]="checkIsRowSelected(row)"></mat-checkbox>
			</td>
		</ng-container>

		<!-- ID -->
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
			<td mat-cell *matCellDef="let element"> {{element.id}} </td>
		</ng-container>

		<!-- Name -->
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
			<td mat-cell *matCellDef="let element"> {{element.name}} </td>
		</ng-container>

		<!-- Description -->
		<ng-container matColumnDef="description">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
			<td mat-cell *matCellDef="let element"> {{element.description}} </td>
		</ng-container>

		<!-- User -->
		<ng-container matColumnDef="user">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
			<td mat-cell *matCellDef="let element"> {{element.user}} </td>
		</ng-container>

		<!-- Location -->
		<ng-container matColumnDef="location">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
			<td mat-cell *matCellDef="let element"> {{element.location}} </td>
		</ng-container>

		<!-- Inventory Number -->
		<ng-container matColumnDef="inventoryNumber">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Inventory # </th>
			<td mat-cell *matCellDef="let element"> {{element.inventoryNumber}} </td>
		</ng-container>

		<!-- createdAt Date -->
		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
			<td mat-cell *matCellDef="let element"> {{element.createdAt | date }} </td>
		</ng-container>

		<!-- modifiedAt Date -->
		<ng-container matColumnDef="modifiedAt">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Modified </th>
			<td mat-cell *matCellDef="let element"> {{element.modifiedAt | date}} </td>
		</ng-container>

		<!-- Active? -->
		<ng-container matColumnDef="active">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Active? </th>
			<td mat-cell *matCellDef="let element"> {{element.active}} </td>
		</ng-container>

		<!-- Actions -->
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
			<td mat-cell *matCellDef="let element">
				<button class="button" routerLink="/edit/{{ element.id }}" [disabled]="!canEdit(element)" mat-stroked-button
					color="accent" (click)="editInventoryItem(element)">
					Edit
				</button>
				<button class="button" mat-stroked-button color="accent" [disabled]="!canEdit(element)"
					(click)="setInactiveInventoryItem(element)">
					Set inactive
				</button>
				<button class="button" mat-stroked-button color="accent" (click)="deleteInventoryItem(element)">
					Delete
				</button>
			</td>
		</ng-container>

		<ng-container>
			<tr mat-header-row *matHeaderRowDef="inventoryColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: inventoryColumns;"></tr>
		</ng-container>

	</table>

	<button class="button" mat-stroked-button color="accent" [disabled]="canDeleteSelection()"
		(click)="deleteSelection()">
		Delete selection
	</button>

	<!-- 
		<mat-paginator [pageSizeOptions]="[10, 3, 5]" showFirstLastButtons></mat-paginator>
	 -->

	<mat-paginator [pageSize]="5" [pageIndex]="0" [length]="100" [pageSizeOptions]="[20, 10, 3, 5]" showFirstLastButtons>
	</mat-paginator>

</div>